<h2>7.1 O QUE É INJEÇÃO DE DEPENDÊNCIA</h2>
<p>instanciando a classe manualmente, ou injetando a dependência no método construtor da classe do componente</p>


<h2>7.2 INSTANCIANDO SERVIÇOS MANUALMENTE</h2>
<ul>
    <li *ngFor="let	item of tecnologias">{{item}}</li>
</ul>

<h2>7.3 INJETANDO UMA DEPENDÊNCIA</h2>
<ul>
    <li *ngFor="let	item of tecnologias">{{item}}</li>
</ul>

<h2>7.4 DEPENDÊNCIAS OPCIONAIS</h2>
<p>Para deixarmos nossa classe de serviço nomestec.component.ts independente da necessidade da classe deserviço de log,
    vamos adicionar na frente uma injeção da classe de log, o decorador @Opitional()</p>
<p>Dessa forma, estamos verificando se existe a instância da classe de log. Se existir, nós vamos criar o log no
    navegador; caso não exista, a aplicação funcionará corretamente, sem problemas.</p>

<h2>7.5 DECLARAÇÃO GLOBAL NO PROJETO OU DENTRO DO COMPONENTE</h2>
<p>Se o serviço foi configurado na raiz da aplicação, todo o projeto terá acesso. Mas se foi configurado dentro de um
    componente, somente este e seus filhos terão acesso a ele.</p>