<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- data	 binding -->
  <h1> {{ title }} </h1>                                <!--Interpolation-->
  <img [src]="foto">                                    <!-- Property	binding -->
  <button (click)="msgAlerta()">Enviar Alerta</button>  <!--Event binding-->
                                                        <!--Two-way data binding feito no input no componente lista-pessoa-component.html-->
</div>

<app-lista-pessoa></app-lista-pessoa>

<router-outlet></router-outlet>